h1      
        {
        padding: 2%;
        margin: 0;
        font-size: 28px;
        color: #eee;
        text-align: left;
        background-color: #4aaaa5;  
        float: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;    
        }
h2      
        {
        color: #4aaaa5;
        text-align: left;
        margin: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;   
        }
        /* unvisited link */
a:link 
        {
        color: #777777;
        } 
        /* mouse over link */
a:hover 
        {
        color: #4aaaa5;
        }
a:visited 
        {
        color: #777777;
        }
.bio    
        {
        margin-left: 1%;
        margin-right: 5%;
        text-align: justify;
        }
#bio-image 
        {
        float: left;
        margin-right: 3%;
        margin-top: 1%;
        }
.main-bio
        {
        position: fixed;
        top: 150px;
        bottom: 20px;
        left: 100px;
        right: 20px; 
        border-style: solid;
        border-width: 2px;
        border-color: #dddddd;
        background-color: #ffffff;
        padding: 10px;
        }
#about 
        {
        height: 355px;
        width: 960px;
        }
#contact 
        {
        height: 455px;
        width: 760px;   
        }
#portfolio
        {
        height: 505px;
        width: 760px;
        }
.nav 
        {
        text-align: right;
        padding: 2%;
        }
.main 
        {
        height: 650px;
        border-style: solid;
        border-width: 2px;
        border-color: #dddddd;
        }
table   
        {
        border-collapse: collapse;
        }